.content-page{
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
}

.app {
    height: 100vh;
    background-image:url("../../shared/assets/backgroundImg/backgroundimage1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}