.menu{
 position: absolute;
  right: 4vh;
  top: 6.5vh;
  border: 1px solid white;
  border-radius: 5px;
  padding: 25px;
  background-color: rgb(98, 98, 98);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
}

.menu.active{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
    z-index: 2;
}

.menu_list{
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu_item:nth-child(n+2){
  margin-top: 2vh;
}
