.all{
  margin-top:45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.errorJoin{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #ff9e9e;
  text-align: center;
}

.title{
  @media (max-width: 720px) {
    padding-top: 12vh;
  }
  padding-top: 20vh;
  color: white;
  text-align: center;
}

.form{
  margin: 30px auto;
  @media (min-width: 720px) {
    width: 50vh;
  }
}
.link{
  color: white;
  a{
    text-decoration: none;
    color: #0449e0;
  }
  text-align: center;
}
.pass{
  data-shrink: "true"
}